<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${code + name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1" style="text-align:right">
        <tr>
            <td rowspan="1">名称</td>
            <td th:each="reportDate: ${reportDateList}" th:text="${reportDate}"></td>
        </tr>
        <tr th:each="data : ${dataList}">
            <td th:text="${data.item}"></td>
            <td th:each="v : ${data.value}" th:text="${v}" ></td>
        </tr>
    </table>
</body>
</html>