<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingFile name="RollingFile" fileName="log/app.log"
			filePattern="log/app-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="20 MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>