<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div th:fragment="bar">
        <a th:href="@{/select/quarter}">季报</a> |<a th:href="@{/select/annual}">年报</a>
        |<a th:href="@{/select/both}">交集</a> 
        |<a th:href="@{/stock/main-finance(code='000848',pe-start-date=20121231)}">主要财务</a>
            | <a th:href="@{/hold/list}">买入股票</a>
            | <a th:href="@{/scheduler/stock-analysis}">刷新财务基本信息</a>
            | <a th:href="@{/scheduler/basic-info}">刷新股票基本信息</a>
            | <a th:href="@{/scheduler/hold-stock}">刷新持股信息</a>
    </div>
  
  </body>
  
</html>