<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>筛选出的股票变动提醒</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>[[季度]]</div>
    <div th:include="email/stock-change-alarm-body :: body (changeInfo=${quarterChangeInfo})" ></div>
    <br/>
    <div>[[年度]]</div>
    <div th:include="email/stock-change-alarm-body :: body (changeInfo=${annualChangeInfo})" ></div>
    <br/>
    <div>[[交集]]</div>
    <div th:include="email/stock-change-alarm-body :: body (changeInfo=${bothChangeInfo})" ></div>
    <div>[[持股]]</div>
    <div th:include="email/stock-change-alarm-body :: body (changeInfo=${holdChangeInfo})" ></div>
    <div>[[持股的业绩预告]]</div>
    <table border="1" style="text-align:right">
       <tr>
           <td>名称</td>
           <td>代码</td>
           <td>类型</td>
           <td>内容</td>
           <td>幅度</td>
       </tr>
       <tr th:each="stockData :${holdStockFinanceForecast.values()}">
           <td th:text="${stockData.name}"></td>
           <td th:text="${stockData.code}"></td>
           <td th:text="${stockData.type}"></td>
           <td th:text="${stockData.content}"></td>
           <td th:text="${stockData.raisePercentage}"></td>
       </tr>
    </table>
</body>
</html>